/*Background picture + div*/



#introDiv {
  height:750px;
  width: 100%;
  margin: 0 auto;
  padding: 0 auto;
  background-color: #3498DB;
  position:relative;
  overflow:hidden;
  text-align: center;
}

#macBook {
  margin: 0 auto;
  position:absolute;;
  top:5px;
  left:385px;
  width:400px;
  height:400px;
  transform:rotateZ(4deg);
}

#iPhone {
  margin: 0 auto;
  position:absolute;;
  left:1100px;
  top: 50px;
  width: 350px;
  height: 320px;
  transform:rotateZ(-5deg);
}

#name {
  font-family: 'Ubuntu', sans-serif;
  color: white;
  margin: 0 auto;
  padding: 0 auto;
  position: absolute;
  left: 750px;
  top: 35%;
  font-size: 120px;
  width: 450px;
}


/*About me Div*/
#aboutMeDiv {
  height:960px;
  margin: 0 auto;
  padding: 0 auto;
  background-color: #3498DB;
  position:relative;
  color: grey;
  overflow: hidden;
}

#hello {
  color: white;
  margin: 0 auto;
  padding: 0 auto;
  font-size: 50px;
}


.svgIcon {
  background-color: transparent;
  position: relative;
  margin: 0 auto;
  padding: 0 auto;
  float:right;
}

#projectdiv {
  background-color:red;
  height:940px;
  margin: 0 auto;
  padding: 0 auto;
}

#project {
  font-family: 'Ubuntu', sans-serif;
  margin: 0 auto;
  padding: 0 auto;
  text-align: center;
  position: relative;
  font-size: 38px;
}

#project1Pic {
  height: 300px;
}

#project3Pic {
  height: 300px;
}

#gaIcon {
  height: 25px;
  width: 25px;
}

#githubIcon {
  height: 25px;
  width:25px;
  margin: -3px;
}

#linkedInIcon {
  height:25px;
  width:25px;
}

#facebookIcon {
  height: 25px;
  width: 25px;
  margin: -3px;
}

#instagramIcon {
  height: 25px;
  width: 25px;
}
